---
layout: default
---

<div class="home">

 
  <div class="post">


    <header class="post-header">
{% for page in site.pages %}
  {% if page.index_image == true %} 
      <div class="profile-image">{{ page.content | markdownify }}</div>
  {% endif %}
{% endfor %}

{% for page in site.pages %}
  {% if page.index_title == true %} 
      {{ page.content | markdownify }}
  {% endif %}
{% endfor %}
    </header>


{% for page in site.pages %}
  {% if page.index_content == true %} 
    <article class="post-content">
      {{ page.content | markdownify }}
    </article>
  {% endif %}
{% endfor %}

  </div>


</div>
